<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PhilWiki - Categories</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
</head>
<body>
<h1 class = "Welcome"> Categories </h1>

<div class = "container">
	<% @categories.each do |category| %>
	<div class = "row">
		<div class = "five columns">
				<img class = "general_image" src= "<%= "#{category['image']}" %>" alt = "category_image">
		</div>
		<br>
		<div class = "six columns center">
			<%="#{category['title']}" %>
				<br>
			<a href="/categories/<%="#{category['id']}" %>">Browse articles</a>
				<br>
		</div>
	</div>
	<br>
<% end %>
</div>
</body>
</html>