<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PhilWiki</title>
	<link rel="stylesheet" href="">
</head>
<body>
<h1 class = "welcome"> MABUHAY SA PHILWIKI! </h1>
<div class = container> 
	<div class = "row">
		<div class = "five columns">
			<p> Mabuhay and welcome to the all-Philippines wiki, PhilWiki! Here, you will find all types of articles relating to the Philippines and Filipino topics. We are still building up our website. Soon, you will be able to contribute your own articles. For now, you will be able to make comments. Have fun!
			Salamat sa iyo para pagdating dito. </p>
			</div>
		<div class = "seven columns">
			<img class = "front_page" src= "http://www.madbookings.com/philippines/maps/philippines-map-towns.gif" alt = "philmap">
		</div>
	</div>
</div>
	
</body>
</html>